coordinator=true
node-scheduler.include-coordinator=true
http-server.http.port={{PRESTO_PORT}}
query.max-memory={{PRESTO_QUERY_MAX_MEMORY}}
query.max-memory-per-node={{PRESTO_QUERY_MAX_MEMORY_PER_NODE}}
discovery-server.enabled=true
discovery.uri={{PRESTO_DISCOVERY_URI}}
